.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.baseSection {
  height: 100vh;
  width: 100%;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid black
}

.sectionTitleContainer {
  height: 15%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 5px solid black
}

.sectionTitleItem {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.sectionTitleItemWidth {
  max-width: 250px;
  width: 15%;
  min-width: 100px
}

.musicTitleBackground {
  background-color: #FCC058;
}

.aboutTitleBackground {
  background-color: #AC006F;
}

.tourTitleBackground {
  background-color: #326502;
}

.contactTitleBackground {
  background-color: #E16020;
}

.sectionMainContent {
  height: 85%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageContainer {
  position: relative;
  height: 100%;
  width: 100%;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {
  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
