.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  max-width: 1800px;
  margin: 0 auto;
}

.displayFlexCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayFlexSpaceBetween {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.baseSection {
  width: 100%;
}

.sectionContentContainer {
  width: 100%;
  flex-direction: column;
}

.sectionTitleContainer {
  height: 15vh;
  width: 100%;
  font-size: 35px;
  padding: 0 1rem;
}

.sectionTitle {
  height: 100%;
  color: #f7f6f6;
}

.logoImageContainer {
  position: relative;
  height: 100%;
  width: 12vw;
}

.bandSlogan {
  font-size: 1.5vw;
}

.socialsContainer {
  height: 100%;
  width: 12vw;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-right: 1rem;
  font-size: 60%;
}

.socialsContainer h1 {
  margin: 0.15rem;
}

.musicTitleBackground {
  background-color: #FCC058;
}

.aboutTitleBackground {
  background-color: #AC006F;
}

.tourTitleBackground {
  background-color: #326502;
}

.mediaTitleBackground {
  background-color: #37C7DC;
}

.contactTitleBackground {
  background-color: #E16020;
}

.sectionMainContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media screen and (max-width: 1000px) {
  .baseSection {
    flex-direction: column;
  }

  .sectionTitleContainer {
    height: 10vh;
  }
}

@media (max-width: 600px) {
  .logoImageContainer {
    width: 12vw;
  }

  .socialsContainer {
    width: 12vw;
    font-size: 30%;
  }

  .bandSlogan {
    font-size: 2.5vw;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
