.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.baseSection {
  width: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.sectionContentContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionTitleContainer {
  position: relative;
  height: 10vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 5px solid black;
  border-bottom: 5px solid black
}

.sectionTitle {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}

.musicTitleBackground {
  background-color: #FCC058;
}

.aboutTitleBackground {
  background-color: #AC006F;
}

.tourTitleBackground {
  background-color: #326502;
}

.mediaTitleBackground {
  background-color: #37C7DC;
}

.contactTitleBackground {
  background-color: #E16020;
}

.sectionMainContent {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logoImageContainer {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 10vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialsContainer {
  position: absolute;
  top: 0;
  right: 0;
  height: 150px;
  max-height: 100%;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.socialsContainer h1 {
  margin: 0.15rem;
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  a.primary:hover {
    background: var(--button-primary-hover);
    border-color: transparent;
  }

  a.secondary:hover {
    background: var(--button-secondary-hover);
    border-color: transparent;
  }

  .footer a:hover {
    text-decoration: underline;
    text-underline-offset: 4px;
  }
}

@media (max-width: 600px) {

  .baseSection {
    flex-direction: column;
  }

  .page {
    padding: 32px;
    padding-bottom: 80px;
  }

  .main {
    align-items: center;
  }

  .main ol {
    text-align: center;
  }

  .ctas {
    flex-direction: column;
  }

  .ctas a {
    font-size: 14px;
    height: 40px;
    padding: 0 16px;
  }

  a.secondary {
    min-width: auto;
  }

  .footer {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .logo {
    filter: invert();
  }
}
