.aboutSectionContainer {
    height: 75vh;
    padding: 2.5% 5%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.aboutSectionTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.aboutSectionContent {
    font-size: 20px;
    padding: 2.5%;
}

@media screen and (max-width: 1000px),
       screen and (min-height: 1350px) {
    .aboutSectionContainer {
        height: 35vh;
    }
    .aboutSectionContent {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .aboutSectionContent {
        font-size: 12px;
    }
}