.aboutSectionContainer {
    height: 70vh;
    padding: 2.5% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.aboutSectionTextBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.aboutSectionContent {
    font-size: 35px;
}

@media (max-width: 1800px) {
    .aboutSectionContent {
        font-size: 15px;
    }
}

@media (max-width: 600px) {
    .aboutSectionContainer {
        height: 45vh
    }

    .aboutSectionContent {
        font-size: 12px;
    }
}