.aboutSectionContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

@media (max-width: 600px) {
    .aboutSectionContent {
        font-size: 10px;
    }
}