.aboutSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.aboutSectionContent {
    font-size: 35px;
}

@media (max-width: 850px) {
    .aboutSectionContent {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .aboutSectionContent {
        font-size: 12px;
    }
}