.aboutSectionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.aboutSectionContent {
    font-size: 50px;
}

@media (max-width: 600px) {
    .aboutSectionContent {
        font-size: 15px;
    }
}