.contactSectionContainer {
    height: 60vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 2.5% 10%;
}

.contactSectionTextContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.contactFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    width: 100%;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.formInputControl {
    height: 6vh;
    margin: 0.2rem 0;
    background-color: lightgray;
}

.formTextAreaControl {
    height: 25vh;
    margin: 0.2rem 0;
    background-color: lightgray;
}

.buttonContainer {
    display: flex;
    justify-content: end;
    margin: 0.2rem 0;
}

.button {
    width: 8vw;
    background-color: lightgray;
}

@media screen and (max-width: 1000px),
       screen and (min-height: 1350px) {
    .contactSectionContainer {
        height: 40vh;
        width: 100vw;
    }

    .formInputControl {
        height: 4vh;
    }

    .formTextAreaControl {
        height: 15vh;
    }
}


@media (max-width: 600px) {
    .contactSectionContainer {
        height: 55vh;
        width: 100vw;
    }

    .formInputControl {
        height: 6vh;
    }

    .formTextAreaControl {
        height: 20vh;
    }

    .button {
        width: 16vw;
        background-color: lightgray;
    }
}