.contactSectionContainer {
    height: 42.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contactSectionTextContainer {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 35rem;
}

.contactFormContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contactForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formInputControl {
    width: 35rem;
    height: 1.75rem;
    margin: 0.2rem 0;
    background-color: lightgray;
}

.formTextAreaControl {
    width: 35rem;
    height: 10rem;
    margin: 0.2rem 0;
    background-color: lightgray;
}

.buttonContainer {
    width: 35rem;
    height: 1.75rem;
    display: flex;
    justify-content: end;

}

.button {
    width: 5rem;
    background-color: lightgray;
}