.footer {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 5px solid black;
}

.footerContentContainer {
    display: flex;
    align-items: center;
}