.footer {
    width: 100%;
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footerContentContainer {
    display: flex;
    align-items: center;
}

@media screen and (max-width: 1000px),
       screen and (min-height: 1300px) {
    .footer {
        height: 10vh;
    }
}

@media screen and (max-width: 600px) {
    .footer {
        height: 7vh;
    }
}