.heroImageContainer {
    position: relative;
    height: 85vh;
    width: 100%;
}

.bannerImage {
  object-fit: cover;
}


@media screen and (max-width: 1000px),
       screen and (min-height: 1350px) {
  .heroImageContainer {
    height: 45vh;
  }
} 

@media (max-width: 600px) {
  .heroImageContainer {
    height: 35vh;
  } 
}

@media (max-width: 400px) {
  .heroImageContainer {
    height: 25vh;
  } 
}