.mediaSectionContainer {
    width: 50vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.25rem;
    overflow: auto;
}


@media (max-width: 600px) {
    .mediaSectionContainer {
        width: 100vw;
    }
}