.mediaSectionContainer {
    width: 50vw;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5% 10%;
    overflow: auto;
}

@media screen and (max-width: 1000px),
       screen and (min-height: 1350px) {
    .mediaSectionContainer {
        height: 50vh;
        width: 100vw;
    }
}


@media screen and (max-width: 600px) {
    .mediaSectionContainer {
        height: 35vh;
    }
}