.bandCampWidgetContainer {
    height: 70vh;
    width: 100%;
    padding: 2.5% 10%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.bandCampWidget {
    width: 100%;
    height: 100%;
}

@media (max-width: 600px) {
    .bandCampWidgetContainer {
        height: 50vh;
    }
}