.liveShowDetailsContainer {
    height: 100%;
    width: 50%;
}

.posterContentContainer {
    height: 100%;
    width: 50%;
}

.posterImageContainer {
    position:relative;
    width:100%;
    height:100%;
}

@media (max-width: 600px) {
    .liveShowDetailsContainer {
        width: 100%;
    }

    .posterContentContainer {
        width: 100%;
    }
}