.tourSectionContainer {
    height: 85vh;
    width: 100%;
    display: flex;
    padding: 2.5% 10%;
}

.liveShowDetailsContainer {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gigDetailsContainer {
    background-color: lightgray;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    display: flex;
}

.posterContentContainer {
    padding: 0.5rem;
    height: 100%;
    width: 100%;
    display: flex;
}

.posterImageContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

.gigPoster {
    object-fit: cover;
}

@media (max-width: 1024px) {
    .tourSectionContainer {
        height: 100vh;
        flex-direction: column-reverse;
    }

    .posterContentContainer {
        justify-content: center;
        align-items: center;
    }

    .gigPoster {
        object-fit: contain;
    }   
}