.tourSectionContainer {
    height: 85vh;
    width: 100%;
    display: flex;
    padding: 2.5% 10%;
}

.liveShowDetailsContainer {
    padding: 0.5rem;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.gigDetailsContainer {
    background-color: lightgray;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    width: 100%;
    display: flex;
}

.posterContentContainer {
    padding: 0.5rem;
    height: 100%;
    width: 100%;
    display: flex;
}

.posterImageContainer {
    position: relative;
    height: 100%;
    width: 100%;
}

.gigPosterLong {
    display: none;
}

@media screen and (max-width: 1000px),
       screen and (min-height: 1000px) {
    .tourSectionContainer {
        height: 100vh;
        flex-direction: column-reverse;
    }

    .posterContentContainer {
        justify-content: center;
        align-items: center;
    }

    .gigPosterShort {
        display: none;
    }

    .gigPosterLong {
        display: block;
    }
}